<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Climate+Crisis&family=DynaPuff:wght@400..700&family=Fugaz+One&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap" rel="stylesheet">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>cuti.tv - vylet pony radio :3</title>
<meta name="title" content="cuti.tv - vylet pony radio :3">
<meta name="description" content="w/ songs from love & ponystep, i'm creekflow, girls who are wizards, i was the loner of paradise valley, carousel, can opener's notebook, cutiemarks, fairytales, & homeward.">